.header {
  background-color: #000;
  color: #72f491;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vw 7vh;
}

.logo {
  height: 40px;
  min-height: 30px;
  max-height: 50px;
  object-fit: contain; /* Ensure the logo scales correctly */
}

.search-bar-container {
  position: relative; /* Position relative for the absolute positioning of the icon */
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 15%;
}

.search-bar {
  width: 100%;
  padding: 0 40px 0 10px; /* Adjust padding to make space for the icon */
  font-size: 12px;
  font-style: italic;
  height: 40px; /* Match the height of the logo */
  background-color: #1d1d1d;
  border: none;
  border-radius: 10px;
  color: #fff; /* Ensure the text color is visible */
}

.search-icon {
  position: absolute;
  right: 20px; /* Position the icon inside the input */
  color: #72f491;
  cursor: pointer;
}

.header-text {
  font-size: 48px;
  text-align: center;
  width: 100%;
}

.name-text {
  color: #72f491;
  font-weight: bold;
}

.slogan-text {
  color: #ffffff;
  font-weight: bold;
}
